<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--  <sessionState mode="StateServer" cookieless="false" timeout="120"/>
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
  -->
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!--database name=Initial Catalog-->
    <!--<add name="constr" connectionString="Data Source=CP;Initial Catalog=QRCode;Integrated Security=True;"/>-->
    <add name="constr" connectionString="Server=tcp:securedb1.database.windows.net,1433;Initial Catalog=securedb1;Persist Security Info=False;User ID=securedb1;Password=Password@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>